{# src/Bridges/MainBundle/Resources/Main/indexMain.html.twig #}

{% extends "BridgesMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block Bridges_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">

			<script type="text/javascript">
				var home_images_bank = [];
				var home_counter = 0;
				var aboutUs_images_bank = [];
				var aboutUs_counter = 0;
				var stories_images_bank = [];
				var stories_counter = 0;
				var work_images_bank = [];
				var work_counter = 0;
				var volunteer_images_bank = [];
				var volunteer_counter = 0;
				var donate_images_bank = [];
				var donate_counter = 0;
				var footer_images_bank = [];
				var footer_counter = 0;
			</script>

			{% if photos|length > 0 %}
				{% for single_photo in photos %}
					{% if single_photo.category == 'home' %}
						<script type="text/javascript">
							home_images_bank[home_images_bank.length] = "{{ asset(single_photo.webPath) }}";
						</script>
					{% elseif single_photo.category == 'aboutUs' %}
						<script type="text/javascript">
							aboutUs_images_bank[aboutUs_images_bank.length] = "{{ asset(single_photo.webPath) }}";
						</script>
					{% elseif single_photo.category == 'stories' %}
						<script type="text/javascript">
							stories_images_bank[stories_images_bank.length] = "{{ asset(single_photo.webPath) }}";
						</script>
					{% elseif single_photo.category == 'work' %}
						<script type="text/javascript">
							work_images_bank[work_images_bank.length] = "{{ asset(single_photo.webPath) }}";
						</script>
					{% elseif single_photo.category == 'volunteer' %}
						<script type="text/javascript">
							volunteer_images_bank[volunteer_images_bank.length] = "{{ asset(single_photo.webPath) }}";
						</script>
					{% elseif single_photo.category == 'donate' %}
						<script type="text/javascript">
							donate_images_bank[donate_images_bank.length] = "{{ asset(single_photo.webPath) }}";
						</script>
					{% elseif single_photo.category == 'footer' %}
						<script type="text/javascript">
							footer_images_bank[footer_images_bank.length] = "{{ asset(single_photo.webPath) }}";
						</script>
					{% endif %}
				{% endfor %}
			{% endif %}

			<script type="text/javascript">
				function changeImage() {
					$("#home").css({'background-image' : "url ('"+home_images_bank[home_counter]+"')"}); 
					if (home_counter < home_images_bank.length) {
						home_counter ++;
					}
					else {
						home_counter = 0;
					}
					// For recursive
					setTimeout(changeImage, 3000);
				}
				setTimeout(changeImage, 3000);
			</script>


			<!-- Accueil -->
			<div class="section section_content" id="home" >
				<div class="section bg_photo_changing" style="background-image: url('{{ asset("img/bg/2.jpg") }}'); background-size: cover; background-position: 50%;">
					<script>
				        jssor_slider1_starter = function (containerId) {
				        	var _SlideshowTransitions = [
				            //Fade
				            { $Duration: 1400, $Opacity: 2 }
				            ];

				            var options = {
				                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
				                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
				                $AutoPlayInterval: 3000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
				                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1
				                $SlideDuration: 3000,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
				                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
				                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

				                $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
				                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
				                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
				                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
				                }
				            };

				            var jssor_slider1 = new $JssorSlider$(containerId, options);

				            //responsive code begin
				            //you can remove responsive code if you don't want the slider scales while window resizes
				            function ScaleSlider() {
				                var bodyWidth = document.body.clientWidth;
				                if (bodyWidth)
				                    jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
				                else
				                    $Jssor$.$Delay(ScaleSlider, 30);
				            }

				            ScaleSlider();
				            $Jssor$.$AddEvent(window, "load", ScaleSlider);

				            $Jssor$.$AddEvent(window, "resize", $Jssor$.$WindowResizeFilter(window, ScaleSlider));
				            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
				            //responsive code end
							// var slider_width = $('#page_container_gen').innerWidth();
							// var slider_height = window.innerHeight * 0.45;
							// $('#slider1_container').css({'width':slider_width+'px !important', 'height':slider_height+'px'});
							// $('#slider1_container_content').css({'width':slider_width+'px !important', 'height':slider_height+'px'});
							// $(window).resize(function() {
							// 	var slider_width = $('#page_container_gen').innerWidth();
							// 	var slider_height = window.innerHeight * 0.45;
							// 	$('#slider1_container').css({'width':slider_width+'px !important', 'height':slider_height+'px'});
							// 	$('#slider1_container_content').css({'width':slider_width+'px !important', 'height':slider_height+'px'});
							// });
				        };
				    </script>
				    <!-- Jssor Slider Begin -->
				    <!-- You can move inline styles to css file or css block. -->
				    <div id="slider1_container" class="slider_container_bg">
				        <!-- Loading Screen -->
				        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
				            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
				                top: 0px; left: 0px; width: 100%; height: 100%;">
				            </div>
				            <div style="position: absolute; display: block; background: url("{{ asset('img/system/slideshow/loader2.gif') }}") no-repeat center center;
				                top: 0px; left: 0px; width: 100%; height: 100%;">
				            </div>
				        </div>
				        <!-- Slides Container -->
				        <div u="slides" id="slider1_inner" class="slider_inner_bg">
							{% if photos|length > 0 %}
								{% for single_photo in photos %}
									{% if single_photo.category == 'home' %}
										<div>
											<img u=image src="{{ asset(single_photo.webPath) }}" />
										</div>
									{% endif %}
								{% endfor %}
							{% endif %}
				        </div>
				    </div>
				    <!-- Trigger -->
				    <script>
				        jssor_slider1_starter('slider1_container');
				    </script>
				    <!-- Jssor Slider End -->
				</div>
				
				<div class="inner-section row">

					<div class="div_logo_welcome hidden-xs">
						<img src="{{ asset('img/system/logo/logo.jpg') }}" alt="Logo" id="logo_welcome"/>
					</div>
					<div class="row">
						<div class="unshow_photo_bg float-right" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_home">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							<h1>
								{{ 'home.titles.h1' | trans }}
							</h1>
							<h3>
								{{ 'home.titles.h3' | trans }}
							</h3>
						</div>
					</div>


				</div>
			</div>


			<div class="section section_content" id="aboutUs" >
				<div class="section bg_photo_changing" style="background-image: url('{{ asset("img/bg/3.jpg") }}'); background-size: cover; background-position: 50%;"></div>

				{% set photoSectionAboutUs = '' %}
				{% if pages|length > 0 %}
					{% for single_page in pages %}
						{% if single_page.dataBaseName == 'aboutUs' %}
							{% set photoSectionAboutUs = single_page %}
						{% endif %}
					{% endfor %}
				{% endif %}

				<div class="inner-section row">
					<div class="row">
						<div class="unshow_photo_bg float-right" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_aboutUs">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							<h1>
								{{ 'header.titles.aboutUs' | trans }}
							</h1>
							<div class="left">
								{% if photoSectionAboutUs.content|length > 0 %}
									{{ photoSectionAboutUs.content|raw }}
								{% else %}
									{{ 'home.warning.noContent' | trans }}
								{% endif %}
							</div>
						</div>
					</div>


				</div>

			</div>
			

			<div class="section section_content" id="stories">
				<div class="section bg_photo_changing" style="background-image: url('{{ asset("img/bg/1.jpg") }}'); background-size: cover; background-position: 50%;"></div>
				{% set photoSectionStories = '' %}
				{% if pages|length > 0 %}
					{% for single_page in pages %}
						{% if single_page.dataBaseName == 'stories' %}
							{% set photoSectionStories = single_page %}
						{% endif %}
					{% endfor %}
				{% endif %}
				<div class="inner-section row">
					<div class="row">
						<div class="unshow_photo_bg float-right" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_stories">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							<div class="row">
								<h1>
									{{ 'header.titles.stories' | trans }}
								</h1>
								<h3>
									{% if photoSectionStories.header|length > 0 %}
										{{ photoSectionStories.header }}
									{% else %}
										{{ 'home.warning.noHeader' | trans }}
									{% endif %}
								</h3>
							</div>
							<div class="row">
								{% if photoSectionStories.content|length > 0 %}
									{{ photoSectionStories.content|raw }}
								{% else %}
									{{ 'home.warning.noContent' | trans }}
								{% endif %}
							</div>
							<div class="row">
								{% if stories|length > 0 %}
									{% for single_story in stories %}
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 project_case_parent" data-toggle="modal" data-target="#modal_story_{{ single_story.id }}" data-backdrop="true" data-keyboard="true">
											<div class="project_case" style="background-image: url('{{ asset(single_story.webPath) }}'); background-size: cover; background-position: 50%;">
												<div class="project_case_inner">
													<h4>
														{% if single_story.title|length > 0 %}
															{{ single_story.title }}
														{% else %}
															{{ 'stories.warning.noTitle' | trans }}
														{% endif %}
													</h4>
												</div>
											</div>
											<div class="over_div_stories">
												<button type="button" class="btn btn-perso">
													{{ 'stories.actions.moreInfos' | trans }}
												</button>
											</div>
										</div>
									{% endfor %}
								{% else %}
									{{ 'stories.warning.noStories' | trans }}
								{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal stories  -->
			{% if stories|length > 0 %}
				{% for single_story in stories %}
					<div class="modal fade modal_for_photo" id="modal_story_{{ single_story.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_photosLabel" aria-hidden="true">
					  <div class="vertical-alignment-helper">
					    <div class="modal-dialog vertical-align-center">
					        <div class="modal-content">
					            <div class="modal-body">
					                <div class="row">
						                <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
						                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
							                <img src="{{ asset(single_story.webPath) }}" alt="Photo" class="carousel_photo"/>
							                <br/><br/>
						                </div>
						                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
					                </div>
					                <div class="row right grey italic">
					                	- 
					                	{% if single_story.updatedAt|length > 0 %}
											{{ single_story.updatedAt|date('d M Y') }}
										{% else %}
											{{ 'stories.warning.noDate' | trans }}
										{% endif %}
					                </div>
					                <div class="row">
						              	<h2>
						                	{% if single_story.title|length > 0 %}
												{{ single_story.title }}
											{% else %}
												{{ 'stories.warning.noTitle' | trans }}
											{% endif %}
						                </h2>
						                <p>
						                	{% if single_story.content|length > 0 %}
												{{ single_story.content|raw }}
											{% else %}
												{{ 'stories.warning.noContent' | trans }}
											{% endif %}
						                </p>
					                </div>
					            </div>
					        </div>
					    </div>
					  </div>
					</div>
				{% endfor %}
			{% endif %}


			<div class="section section_content" id="work">
				<div class="section bg_photo_changing" style="background-image: url('{{ asset("img/bg/4.jpg") }}'); background-size: cover; background-position: 50%;"></div>

				{% set photoSectionTheWork = '' %}
				{% if pages|length > 0 %}
					{% for single_page in pages %}
						{% if single_page.dataBaseName == 'work' %}
							{% set photoSectionTheWork = single_page %}
						{% endif %}
					{% endfor %}
				{% endif %}

				<div class="inner-section row">
					<div class="row">
						<div class="unshow_photo_bg float-right" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_work">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							<h1>
								{{ 'header.titles.work' | trans }}
							</h1>
							<h3>
								{% if photoSectionTheWork.header|length > 0 %}
									{{ photoSectionTheWork.header }}
								{% else %}
									{{ 'home.warning.noHeader' | trans }}
								{% endif %}
							</h3>
							<div class="left">
								{% if photoSectionTheWork.content|length > 0 %}
									{{ photoSectionTheWork.content|raw }}
								{% else %}
									{{ 'home.warning.noContent' | trans }}
								{% endif %}
							</div>
						</div>
					</div>


				</div>


			</div>


			<div class="section section_content" id="volunteer">
				<div class="section bg_photo_changing" style="background-image: url('{{ asset("img/bg/5.jpg") }}'); background-size: cover; background-position: 50%;"></div>

				{% set photoSectionVolunteer = '' %}
				{% if pages|length > 0 %}
					{% for single_page in pages %}
						{% if single_page.dataBaseName == 'volunteer' %}
							{% set photoSectionVolunteer = single_page %}
						{% endif %}
					{% endfor %}
				{% endif %}

				<div class="inner-section row">
					<div class="row">
						<div class="unshow_photo_bg float-right" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_volunteer">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							<h1>
								{{ 'header.titles.volunteer' | trans }}
							</h1>
							<h3>
								{% if photoSectionVolunteer.header|length > 0 %}
									{{ photoSectionVolunteer.header }}
								{% else %}
									{{ 'home.warning.noHeader' | trans }}
								{% endif %}
							</h3>
							<p>
								{% if photoSectionVolunteer.content|length > 0 %}
									{{ photoSectionVolunteer.content|raw }}
								{% else %}
									{{ 'home.warning.noContent' | trans }}
								{% endif %}
							</p>
							<div class="row">
								<form id="volunteer_form" method="post" action="{{ path('bridges_main_volunteer') }}">
							        <div id="" class="row">

							        	<div class="form-group row">
											<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input type="text" name="senderVolunteer" id="senderVolunteer" placeholder="{{ 'volunteer.form.name' | trans }}" class="form-control placeholder-no-fix"/>
									        </div>
											<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input type="text" name="emailVolunteer" id="emailVolunteer" placeholder="{{ 'volunteer.form.email' | trans }}" class="form-control placeholder-no-fix"/>
									        </div>
										</div>
										<br/>
										<div class="form-group row">
											<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input type="integer" name="ageVolunteer" id="ageVolunteer" placeholder="{{ 'volunteer.form.age' | trans }}" class="form-control placeholder-no-fix"/>
									        </div>
											<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input type="tel" name="telVolunteer" id="telVolunteer" placeholder="{{ 'volunteer.form.tel' | trans }}" class="form-control placeholder-no-fix"/>
									        </div>
										</div>
										<br/>
							            <div class="form-group row">
							            	{{ 'volunteer.form.whyPartOf' | trans }}
							                <div class="input-icon col-lg-12 col-md-12 col-sm-12 col-xs-12">
							                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="{{ 'volunteer.form.whyPartOf' | trans }}"></textarea>
							                </div>
							            </div>
							            <br/>
							            <div class="form-group row">
							            	{{ 'volunteer.form.howMuchTime' | trans }}
							            	<br/>
							            	{{ 'volunteer.form.manyPositions' | trans }}
							                <div class="input-icon col-lg-12 col-md-12 col-sm-12 col-xs-12">
							                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="{{ 'volunteer.form.manyPositions' | trans }}"></textarea>
							                </div>
							            </div>
							            <br/>
							            <div class="form-group row">
							            	{{ 'volunteer.form.howHearAbout' | trans }}
							                <div class="input-icon col-lg-12 col-md-12 col-sm-12 col-xs-12">
							                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="{{ 'volunteer.form.howHearAbout' | trans }}"></textarea>
							                </div>
							            </div>
							        </div>
							        <br/>
							        <div class="center">
								        <input type="submit" value="{{ 'volunteer.actions.send' | trans }}" class="btn btn-footer uppercase">
							        </div>
							    </form>
							</div>
						</div>
					</div>


				</div>
				
			</div>

			<div class="section section_content" id="donate">
				<div class="section bg_photo_changing" style="background-image: url('{{ asset("img/bg/6.jpg") }}'); background-size: cover; background-position: 50%;"></div>

				{% set photoSectionDonate = '' %}
				{% if pages|length > 0 %}
					{% for single_page in pages %}
						{% if single_page.dataBaseName == 'donate' %}
							{% set photoSectionDonate = single_page %}
						{% endif %}
					{% endfor %}
				{% endif %}

				<div class="inner-section row">
					<div class="row">
						<div class="unshow_photo_bg float-right" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_donate">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							
							<h1>
								{{ 'header.titles.donate' | trans }}
							</h1>
							<h3>
								{% if photoSectionDonate.header|length > 0 %}
									{{ photoSectionDonate.header }}
								{% else %}
									{{ 'home.warning.noHeader' | trans }}
								{% endif %}
							</h3>
							{% if photoSectionDonate.content|length > 0 %}
								{{ photoSectionDonate.content|raw }}
							{% else %}
								{{ 'home.warning.noContent' | trans }}
							{% endif %}
						</div>

					</div>


				</div>

				
			</div>

			<!-- BEGIN FOOTER -->
	          {% include 'includes/footer.html.twig' %}
	        <!-- END FOOTER -->

		</div>

	</div>
	<!-- END CONTENT -->

{% endblock Bridges_Main_body %}