{# src/Bridges/MainBundle/Resources/Main/indexMain.html.twig #}

{% extends "BridgesMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block Bridges_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">

			<!-- Accueil -->
			<div class="section" id="home" style="background-image: url('{{ asset("img/bg/2.jpg") }}'); background-size: cover; background-position: 50%;">
				<div class="inner-section row">

					<div class="div_logo_welcome hidden-xs">
						<img src="{{ asset('img/system/logo/logo.jpg') }}" alt="Logo" id="logo_welcome"/>
					</div>
					<div class="row">
						<div class="unshow_photo_bg float-right" style="opacity:0;" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_home">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							<h1>
								Welcome to Bridges
							</h1>
							<h3>
								Love hopes and endures all things
							</h3>
						</div>
					</div>


				</div>
			</div>


			<div class="section" id="aboutUs" style="background-image: url('{{ asset("img/bg/3.jpg") }}'); background-size: cover; background-position: 50%;">

				<div class="inner-section row">
					<div class="row">
						<div class="unshow_photo_bg float-right" style="opacity:0;" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_aboutUs">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							<h1>
								{{ 'header.titles.aboutUs' | trans }}
							</h1>
							<div class="left">
								<p>
									We believe that the fulfillment of the human person is realized in the encounter of charity. Hoping to create true unity in a society that is divided by diverse circumstances, we seek to facilitate the opportunity to live love.  
								</p>
								<p>
									When the poor and needy of society meet those who have reached out to help, there is a richness to the encounter that surpasses the act itself and bridges the farthest distances. This communion with the other is what gives meaning to our work and acts as the fountain for our hope in a more reconciled society. 
								</p>
								<p>
									We therefore look to create solutions for both those looking to help and for existing organizations in need of volunteers by creating partnerships and helping more people find how they can make a real difference.
								</p>
							</div>
						</div>
					</div>


				</div>

			</div>
			

			<div class="section" id="stories" style="background-image: url('{{ asset("img/bg/1.jpg") }}'); background-size: cover; background-position: 50%;">
				<div class="inner-section row">
					<div class="row">
						<div class="unshow_photo_bg float-right" style="opacity:0;" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_stories">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							<h1>
								{{ 'header.titles.stories' | trans }}
							</h1>
							<h3>
								Little anecdotes 
							</h3>
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 project_case_parent">
									<div class="project_case" style="background-image: url('{{ asset("img/projects/1.png") }}'); background-size: cover; background-position: 50%;">
										<div class="project_case_inner">
											<h4>
												Stories written together
											</h4>
										</div>
									</div>
									<div class="over_div_stories">
										<button type="button" class="btn btn-perso" data-toggle="modal" data-target="#modal_" data-backdrop="true" data-keyboard="true">
											More infos
										</button>

									</div>
								</div>
								
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 project_case_parent">
									<div class="project_case" style="background-image: url('{{ asset("img/projects/2.png") }}'); background-size: cover; background-position: 50%;">
										<div class="project_case_inner">
											<h4>
												Campaign in Ayacucho 2011 - Peru
											</h4>
										</div>
									</div>
									<div class="over_div_stories">
										<button type="button" class="btn btn-perso" data-toggle="modal" data-target="#modal_1" data-backdrop="true" data-keyboard="true">
											More infos
										</button>

									</div>
								</div>
								
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 project_case_parent">
									<div class="project_case" style="background-image: url('{{ asset("img/projects/3.jpg") }}'); background-size: cover; background-position: 50%;">
										<div class="project_case_inner">
											<h4>
												Into the depths
											</h4>
										</div>
									</div>
									<div class="over_div_stories">
										<button type="button" class="btn btn-perso" data-toggle="modal" data-target="#modal_2" data-backdrop="true" data-keyboard="true">
											More infos
										</button>

									</div>
								</div>
								
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 project_case_parent">
									<div class="project_case" style="background-image: url('{{ asset("img/projects/4.jpg") }}'); background-size: cover; background-position: 50%;">
										<div class="project_case_inner">
											<h4>
												The students become the teachers
											</h4>
										</div>
									</div>
									<div class="over_div_stories">
										<button type="button" class="btn btn-perso" data-toggle="modal" data-target="#modal_3" data-backdrop="true" data-keyboard="true">
											More infos
										</button>

									</div>
								</div>
								
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 project_case_parent">
									<div class="project_case" style="background-image: url('{{ asset("img/projects/5.jpg") }}'); background-size: cover; background-position: 50%;">
										<div class="project_case_inner">
											<h4>
												Christmas as it was meant to be
											</h4>
										</div>
									</div>
									<div class="over_div_stories">
										<button type="button" class="btn btn-perso" data-toggle="modal" data-target="#modal_4" data-backdrop="true" data-keyboard="true">
											More infos
										</button>

									</div>
								</div>
								
								<!-- Modal photos  -->
								<div class="modal fade modal_for_photo" id="modal_" tabindex="-1" role="dialog" aria-labelledby="modal_photosLabel" aria-hidden="true">
								  <div class="vertical-alignment-helper">
								    <div class="modal-dialog vertical-align-center">
								        <div class="modal-content">
								            <div class="modal-body">
								                <div class="row">
									                <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
									                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
										                <img src="{{ asset('img/projects/1.png') }}" alt="Photo" class="carousel_photo"/>
										                <br/><br/>
									                </div>
									                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
								                </div>
								                <div class="row right grey italic">
								                	- 09 Sep. 2015
								                </div>
								                <div class="row">
									              	<h2>
									                	Stories written together
									                </h2>
									                <p>
									                	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ipsa recusandae tempora. Deserunt deleniti illo, eius, voluptates cumque ratione, quasi, officia aperiam maiores repellat aliquid iusto in quo. Quasi, ex.
									                	<br/>
									                	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae saepe iure laboriosam ex delectus cumque. Repellat temporibus dolorum, autem voluptatem necessitatibus! Culpa facere fugit reiciendis adipisci, quae maiores atque, distinctio!
									                	<br/>
									                	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae saepe iure laboriosam ex delectus cumque. Repellat temporibus dolorum, autem voluptatem necessitatibus! Culpa facere fugit reiciendis adipisci, quae maiores atque, distinctio!
									                	<br/>
									                	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae saepe iure laboriosam ex delectus cumque. Repellat temporibus dolorum, autem voluptatem necessitatibus! Culpa facere fugit reiciendis adipisci, quae maiores atque, distinctio!
									                	<br/>
									                	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae saepe iure laboriosam ex delectus cumque. Repellat temporibus dolorum, autem voluptatem necessitatibus! Culpa facere fugit reiciendis adipisci, quae maiores atque, distinctio!
									                	<br/>
									                	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae saepe iure laboriosam ex delectus cumque. Repellat temporibus dolorum, autem voluptatem necessitatibus! Culpa facere fugit reiciendis adipisci, quae maiores atque, distinctio!
									                </p>
								                </div>
								            </div>
								        </div>
								    </div>
								  </div>
								</div>
								
								<!-- Modal photos  -->
								<div class="modal fade modal_for_photo" id="modal_1" tabindex="-1" role="dialog" aria-labelledby="modal_photosLabel" aria-hidden="true">
								  <div class="vertical-alignment-helper">
								    <div class="modal-dialog vertical-align-center">
								        <div class="modal-content">
								            <div class="modal-body">
								              <!-- <button type="button" class="close float-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
								              <!-- Indicators -->
								              <a href="" data-dismiss="modal">
								                <img src="" alt="Photo" class="carousel_photo" id="photo_in_carousel_toReplace"/>
								              </a>
								            </div>
								        </div>
								    </div>
								  </div>
								</div>
								
								<!-- Modal photos  -->
								<div class="modal fade modal_for_photo" id="modal_2" tabindex="-1" role="dialog" aria-labelledby="modal_photosLabel" aria-hidden="true">
								  <div class="vertical-alignment-helper">
								    <div class="modal-dialog vertical-align-center">
								        <div class="modal-content">
								            <div class="modal-body">
								              <!-- <button type="button" class="close float-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
								              <!-- Indicators -->
								              <a href="" data-dismiss="modal">
								                <img src="" alt="Photo" class="carousel_photo" id="photo_in_carousel_toReplace"/>
								              </a>
								            </div>
								        </div>
								    </div>
								  </div>
								</div>
								
								<!-- Modal photos  -->
								<div class="modal fade modal_for_photo" id="modal_3" tabindex="-1" role="dialog" aria-labelledby="modal_photosLabel" aria-hidden="true">
								  <div class="vertical-alignment-helper">
								    <div class="modal-dialog vertical-align-center">
								        <div class="modal-content">
								            <div class="modal-body">
								              <!-- <button type="button" class="close float-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
								              <!-- Indicators -->
								              <a href="" data-dismiss="modal">
								                <img src="" alt="Photo" class="carousel_photo" id="photo_in_carousel_toReplace"/>
								              </a>
								            </div>
								        </div>
								    </div>
								  </div>
								</div>
								
								<!-- Modal photos  -->
								<div class="modal fade modal_for_photo" id="modal_4" tabindex="-1" role="dialog" aria-labelledby="modal_photosLabel" aria-hidden="true">
								  <div class="vertical-alignment-helper">
								    <div class="modal-dialog vertical-align-center">
								        <div class="modal-content">
								            <div class="modal-body">
								              <!-- <button type="button" class="close float-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
								              <!-- Indicators -->
								              <a href="" data-dismiss="modal">
								                <img src="" alt="Photo" class="carousel_photo" id="photo_in_carousel_toReplace"/>
								              </a>
								            </div>
								        </div>
								    </div>
								  </div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="section" id="work" style="background-image: url('{{ asset("img/bg/4.jpg") }}'); background-size: cover; background-position: 50%;">

				<div class="inner-section row">
					<div class="row">
						<div class="unshow_photo_bg float-right" style="opacity:0;" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_work">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							<h1>
								{{ 'header.titles.work' | trans }}
							</h1>
							<h3>
								Building the Bridges
							</h3>
							<div class="left">
								<p>
									Through our various partnerships, the specific projects we offer share the common goal of reaching out to towards the human person, in his diverse, unique, and integral reality.
								</p>
								<h5>
									Leveling Courses &amp; Educational Workshops:
								</h5>
								<p>
									Remedial classes that seek to compensate for differing educational backgrounds and focus on subjects such as math, language, geography, history, and English. Additionally, we provide workshops in art, music, theatre, and sports.
								</p>
								<h5>
									Visits to Children’s Hospitals: 
								</h5>
								<p>
									More than just a visit, we look to generate moments of joy and to be a witness of hope in encounters with children who are suffering due to illness. Growth in charity, solidarity and perseverance are promoted in an environment in which the experience of love touches the depths of one’s heart.
								</p>
								<h5>
									Visits to Nursing Homes &amp; Homeless Shelters: 
								</h5>
								<p>
									These visits seek to offer all types of care and assistance to the elderly and those in Lima who are in most need. We look to attend to essential needs, promoting the integral good of the suffering human person.
								</p>
								<h5>
									Visits to Schools for Disabled Children: 
								</h5>
								<p>
									These schools seek to form and rehabilitate children and youth with motor disabilities (cerebral palsy, myelomeningocele, arthrogryposis, muscular dystrophy, amputee and burn victims). Our visits seek to meet the students in their condition and offer assistance in workshops, which include computer, music, art and English.
								</p>
								<h5>
									Solidarity Trips to Peruvian Highlands
									<span class="italic grey">
										(Huaraz, Ayaviri (Puno), Arequipa, Colca Canyon)
									</span>
									:
								</h5>
								<p>
									Two-week volunteer experiences to assist impoverished communities in the Peruvian Andes. Students help in solidarity work with impoverished communities, receive talks on social justice and environmental issues, and do eco-tourism to develop environmental awareness, all within the natural beauty of the Peruvian Andes.
								</p>
								<h5>
									Community-Building Projects: 
								</h5>
								<p>
									This work is aimed at assisting the poorest of the poor and helping to make a change in the shantytowns of Lima. We assist the locals in the specific projects they need, such as construction of houses, reparation of chapels and other similar services. In addition to this, we teach children instructional games and sports, and promote ownership and sustainability through community interaction.
								</p>

							</div>
						</div>
					</div>


				</div>


			</div>


			<div class="section" id="volunteer" style="background-image: url('{{ asset("img/bg/5.jpg") }}'); background-size: cover; background-position: 50%;">

				<div class="inner-section row">
					<div class="row">
						<div class="unshow_photo_bg float-right" style="opacity:0;" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_volunteer">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							<h1>
								{{ 'header.titles.volunteer' | trans }}
							</h1>
							<h3>
								Join the adventure !
							</h3>
							<p>
								We are so grateful for your interest in Bridges! Please use this form to tell us a little more about yourself and we will contact you as soon as we can. Corporate participation is encouraged as well! 
							</p>
							<div class="row">
								<form id="volunteer_form" method="post" action="{{ path('bridges_main_volunteer') }}">
							        <div id="" class="row">

							        	<div class="form-group row">
											<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input type="text" name="senderVolunteer" id="senderVolunteer" placeholder="Name" class="form-control placeholder-no-fix"/>
									        </div>
											<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input type="text" name="emailVolunteer" id="emailVolunteer" placeholder="Email" class="form-control placeholder-no-fix"/>
									        </div>
										</div>
										<br/>
										<div class="form-group row">
											<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input type="integer" name="ageVolunteer" id="ageVolunteer" placeholder="Age" class="form-control placeholder-no-fix"/>
									        </div>
											<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input type="tel" name="telVolunteer" id="telVolunteer" placeholder="Telephone" class="form-control placeholder-no-fix"/>
									        </div>
										</div>
										<br/>
							            <div class="form-group row">
							            	Why would you like to be part of the Bridges team?
							                <div class="input-icon col-lg-12 col-md-12 col-sm-12 col-xs-12">
							                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="Why would you like to be part of the Bridges team?"></textarea>
							                </div>
							            </div>
							            <br/>
							            <div class="form-group row">
							            	How much time would you be willing to dedicate to volunteering?
							                <div class="input-icon col-lg-12 col-md-12 col-sm-12 col-xs-12">
							                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="We have many positions available, ranging from once or twice a month to full time!"></textarea>
							                </div>
							            </div>
							            <br/>
							            <div class="form-group row">
							            	How did you hear about Bridges?
							                <div class="input-icon col-lg-12 col-md-12 col-sm-12 col-xs-12">
							                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="How did you hear about Bridges?"></textarea>
							                </div>
							            </div>
							        </div>
							        <br/>
							        <div class="center">
								        <input type="submit" value="Send" class="btn btn-footer uppercase">
							        </div>
							    </form>
							</div>
						</div>
					</div>


				</div>
				
			</div>

			<div class="section" id="donate" style="background-image: url('{{ asset("img/bg/6.jpg") }}'); background-size: cover; background-position: 50%;">

				<div class="inner-section row">
					<div class="row">
						<div class="unshow_photo_bg float-right" style="opacity:0;" onClick="showFrame(true);">
							<span class="glyphicon glyphicon-chevron-left"></span> {{ 'main.actions.show' | trans }}
						</div>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-2 hidden-xs"></div>
					<div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 bg_frame" id="bg_frame_donate">
						<div class="show_photo_bg float-right" onClick="showFrame(false);">
							{{ 'main.actions.hide' | trans }} <span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="bg_frame_content">
							
							<h1>
								{{ 'header.titles.donate' | trans }}
							</h1>
							<h3>
								- Common questions
							</h3>
							<h5>
								How important are donations for Bridges?
							</h5>
							<p>
								- Very important! As a non-profit organization, most of our projects are made possible by the generosity of sponsors. For us, it is also very edifying to see those "with" seeking to help in whatever way they can those "without." It is evidence that our dream to reconcile society is both shared with others, and is already beginning to come true. 
							</p>
							<h5>
								How are the donations used?
							</h5>
							<p>
								- Each donation is received with a particular project in mind. We are grateful for the opportunity in each project to work to improve the lives of others, and so we recognize that each donation must be used with prudence so that there is no waste. We have seen donations to less transparent non-profit organizations get "lost in translation" in ways that we can assure doesn't happen.
							</p>
							<p>
								- Check out our "Your Stories" page to see how your generosity, in a dynamic way, has changed the lives of others. We think it is important to document our projects in order to better spread our message of hope and encourage others to join us. Each story will be a good way for you to better understand our projects and to rest assured that your contribution has reached its goal.
							</p>
							<p>
								- Please contact us if you would like to sponsor a specific project.
							</p>
							<h5>
								Is money the only thing I can donate?
							</h5>
							<p>
								- We are open to any and all things that will help us in our mission. If you have something in mind, we'd love to discuss it with you!
							</p>
						</div>

					</div>


				</div>

				
			</div>

			<!-- BEGIN FOOTER -->
	          {% include 'includes/footer.html.twig' %}
	        <!-- END FOOTER -->

		</div>

	</div>
	<!-- END CONTENT -->

{% endblock Bridges_Main_body %}