{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}

<div id="header" class="header row hidden-xs" >
	<ul id="language_menu">
		<!-- BEGIN LANGUAGE SELECTION DROPDOWN -->
		<li class="language_box">
			{% set current_language = '' %}
			{% if (app.request.get('_route_params')) != null %}
			  {% if (app.request.get('_route_params')._locale == 'es') %}
			    {% set current_language = 'es' %}
			  {% else %}
			    {% set current_language = 'en' %}
			  {% endif %}
			{% endif %}
			<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" title="EN" alt="EN" class="language_selection no_style_a
			{% if current_language == 'en' %}
			  language_active
			{% endif %}
			">
			  <img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag"/>
			</a>
			<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}" title="ES" alt="ES" class="language_selection no_style_a
			{% if current_language == 'es' %}
			  language_active
			{% endif %}
			">
			  <img src="{{ asset('img/system/language_flags/es.png') }}" alt="ES" class="language_flag"/>
			</a>
		</li>
		<!-- END LANGUAGE SELECTION DROPDOWN -->
	</ul>
	<br/><br/>
	<ul class="uppercase" id="menu">
		<li class="header_li" id="btn_header0">
			<a href="{{ path('bridges_main_homepage') }}#home" id="btn_section0" class="no_style_a">
				<span class="glyphicon_header">
					<span class="glyphicon glyphicon-home"></span> 
				</span>
				<span class="text_header">
					{{ 'header.titles.home' | trans }}
				</span>
			</a>
		</li>
		<li class="header_li" id="btn_header1">
			<a href="{{ path('bridges_main_homepage') }}#aboutUs" id="btn_section1" class="no_style_a">
				<span class="glyphicon_header">
					<span class="glyphicon glyphicon-info-sign"></span> 
				</span>
				<span class="text_header">
					{{ 'header.titles.aboutUs' | trans }}
				</span>
			</a>
		</li>
		<li class="header_li" id="btn_header2">
			<a href="{{ path('bridges_main_homepage') }}#stories" id="btn_section2" class="no_style_a">
				<span class="glyphicon_header">
					<span class="glyphicon glyphicon-send"></span> 
				</span>
				<span class="text_header">
					{{ 'header.titles.stories' | trans }}
				</span>
			</a>
		</li>
		<li class="header_li" id="btn_header3">
			<a href="{{ path('bridges_main_homepage') }}#work" id="btn_section3" class="no_style_a">
				<span class="glyphicon_header">
					<span class="glyphicon glyphicon-stats"></span> 
				</span>
				<span class="text_header">
					{{ 'header.titles.work' | trans }}
				</span>
			</a>
		</li>
		<li class="header_li" id="btn_header4">
			<a href="{{ path('bridges_main_homepage') }}#volunteer" id="btn_section4" class="no_style_a">
				<span class="glyphicon_header">
					<span class="glyphicon glyphicon-knight"></span> 
				</span>
				<span class="text_header">
					{{ 'header.titles.volunteer' | trans }}
				</span>
			</a>
		</li>
		<li class="header_li" id="btn_header5">
			<a href="{{ path('bridges_main_homepage') }}#donate" id="btn_section5" class="no_style_a">
				<span class="glyphicon_header">
					<span class="glyphicon glyphicon-gift"></span> 
				</span>
				<span class="text_header">
					{{ 'header.titles.donate' | trans }}
				</span>
			</a>
		</li>
		<li class="header_li" id="btn_header6">
			<a href="{{ path('bridges_main_homepage') }}#footer" id="btn_section6" class="no_style_a">
				<span class="glyphicon_header">
					<span class="glyphicon glyphicon-envelope"></span> 
				</span>
				<span class="text_header">
					{{ 'header.titles.contact' | trans }}
				</span>
			</a>
		</li>
	</ul>
</div>




<!-- FOR MOBILE -->

<nav id="header" class="header_mobile row hidden-lg hidden-md hidden-sm navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="toggle_menu_button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top_menu_dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar white"></span>
        <span class="icon-bar white"></span>
        <span class="icon-bar white"></span>
      </button>
      <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="{{ path('bridges_main_homepage') }}#home" id="btn_section0">
      	<div id="div_logo_welcome_xs">
			<img src="{{ asset('img/system/logo/logo.jpg') }}" alt="Logo" id="logo_welcome_xs"/>
		</div>
      </a>
      <div class="language_box_mobile center">
			{% set current_language = '' %}
			{% if (app.request.get('_route_params')) != null %}
			  {% if (app.request.get('_route_params')._locale == 'es') %}
			    {% set current_language = 'es' %}
			  {% else %}
			    {% set current_language = 'en' %}
			  {% endif %}
			{% endif %}
			<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" title="EN" alt="EN" class="language_selection no_style_a
			{% if current_language == 'en' %}
			  language_active
			{% endif %}
			">
			  <img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag"/>
			</a>
			<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}" title="ES" alt="ES" class="language_selection no_style_a
			{% if current_language == 'es' %}
			  language_active
			{% endif %}
			">
			  <img src="{{ asset('img/system/language_flags/es.png') }}" alt="ES" class="language_flag"/>
			</a>
		</div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top_menu_dropdown">
      <ul class="nav navbar-nav">
      	<li  class="li_mobile border_bottom_white" id="btn_header1">
			<a href="{{ path('bridges_main_homepage') }}#aboutUs" id="btn_section1" class="link_in_dropdown">
				{{ 'header.titles.aboutUs' | trans }}
			</a>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header2">
			<a href="{{ path('bridges_main_homepage') }}#stories" id="btn_section2" class="link_in_dropdown">
				{{ 'header.titles.stories' | trans }}
			</a>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header3">
			<a href="{{ path('bridges_main_homepage') }}#work" id="btn_section3" class="link_in_dropdown">
				{{ 'header.titles.work' | trans }}
			</a>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header4">
			<a href="{{ path('bridges_main_homepage') }}#volunteer" id="btn_section4" class="link_in_dropdown">
				{{ 'header.titles.volunteer' | trans }}
			</a>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header5">
			<a href="{{ path('bridges_main_homepage') }}#donate" id="btn_section5" class="link_in_dropdown">
				{{ 'header.titles.donate' | trans }}
			</a>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header6">
			<a href="{{ path('bridges_main_homepage') }}#footer" id="btn_section6" class="link_in_dropdown">
				{{ 'header.titles.contact' | trans }}
			</a>
		</li>
		<li class="li_mobile center">
			<div class="fb-page" data-href="https://www.facebook.com/Bridges-140667802651315" 
			data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" 
			data-show-facepile="false" data-show-posts="false">
			</div>
		</li>

      </ul>
    </div><!-- /.navbar-collapse -->
</nav>


<!-- Social section  -->
<div class="hidden-xs" id="social_media">
	<div class="hidden-lg hidden-md">
		<button type="button" class="close close_fb_button float-right" onClick="close_fb_page()"><span aria-hidden="true">&times;</span></button>
		<div class="fb-page" data-href="https://www.facebook.com/Bridges-140667802651315" 
		data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" 
		data-show-facepile="false" data-show-posts="false">
		</div>
	</div>
	<div class="hidden-lg hidden-sm">
		<div class="fb-page" data-href="https://www.facebook.com/Bridges-140667802651315" 
		data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" 
		data-show-facepile="true" data-show-posts="false">
		</div>
	</div>
	<div class="hidden-md hidden-sm">
		<div class="fb-page" data-href="https://www.facebook.com/Bridges-140667802651315" 
		data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" 
		data-show-facepile="true" data-show-posts="false">
		</div>
	</div>
</div>

