{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}


<div id="header" class="header row hidden-xs" >
	<ul class="uppercase" id="menu">
		<li class="header_li" id="btn_header0">
			<a href="#home" id="btn_section0">
				<div class="glyphicon_header">
					<span class="glyphicon glyphicon-home"></span> 
				</div>
				<div class="text_header">
					Home
				</div>
			</a>
		</li>
		<li class="header_li" id="btn_header1">
			<a href="#aboutUs" id="btn_section1">
				<div class="glyphicon_header">
					<span class="glyphicon glyphicon-info-sign"></span> 
				</div>
				<div class="text_header">
					About us
				</div>
			</a>
		</li>
		<li class="header_li" id="btn_header2">
			<a href="#stories" id="btn_section2">
				<div class="glyphicon_header">
					<span class="glyphicon glyphicon-send"></span> 
				</div>
				<div class="text_header">
					Stories
				</div>
			</a>
		</li>
		<li class="header_li" id="btn_header3">
			<a href="#work" id="btn_section3">
				<div class="glyphicon_header">
					<span class="glyphicon glyphicon-stats"></span> 
				</div>
				<div class="text_header">
					The Work
				</div>
			</a>
		</li>
		<li class="header_li" id="btn_header4">
			<a href="#volunteer" id="btn_section4">
				<div class="glyphicon_header">
					<span class="glyphicon glyphicon-knight"></span> 
				</div>
				<div class="text_header">
					Volunteer
				</div>
			</a>
		</li>
		<li class="header_li" id="btn_header5">
			<a href="#donate" id="btn_section5">
				<div class="glyphicon_header">
					<span class="glyphicon glyphicon-gift"></span> 
				</div>
				<div class="text_header">
					Donate
				</div>
			</a>
		</li>
		<li class="header_li" id="btn_header6">
			<a href="#footer" id="btn_section6">
				<div class="glyphicon_header">
					<span class="glyphicon glyphicon-envelope"></span> 
				</div>
				<div class="text_header">
					Contact
				</div>
			</a>
		</li>
	</ul>
</div>




<!-- FOR MOBILE -->

<nav id="header" class="header row hidden-lg hidden-md hidden-sm navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="toggle_menu_button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top_menu_dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar white"></span>
        <span class="icon-bar white"></span>
        <span class="icon-bar white"></span>
      </button>
      <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="#accueil" id="btn_section0">
      	<div id="div_logo_welcome_xs">
			<img src="{{ asset('img/system/logo/logo.jpg') }}" alt="Logo" id="logo_welcome_xs"/>
		</div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top_menu_dropdown">
      <ul class="nav navbar-nav">
      	<li  class="li_mobile border_bottom_white" id="btn_header1">
			<a href="#aboutus" id="btn_section1" class="link_in_dropdown">
				About us
			</a>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header2">
			<a href="#stories" id="btn_section2" class="link_in_dropdown">
				Stories
			</a>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header3">
			<a href="#work" id="btn_section3" class="link_in_dropdown">
				The Work
			</a>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header4">
			<a href="#volunteer" id="btn_section4" class="link_in_dropdown">
				Volunteer
			</a>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header5">
			<a href="#donate" id="btn_section5" class="link_in_dropdown">
				Donate
			</a>
		</li>
		<li  class="li_mobile" id="btn_header6">
			<a href="#footer" id="btn_section6" class="link_in_dropdown">
				Contact
			</a>
		</li>

      </ul>
    </div><!-- /.navbar-collapse -->
</nav>



<!-- Social section  -->
<div id="social_media" class="hidden-xs">
    <ul class="social_list">
      <li class="social_item">
        <a href="https://www.facebook.com/" target="_blank">
          <div class="social_icon social_fb"></div>
        </a>
      </li>
      <li class="social_item">
        <a href="https://twitter.com/" target="_blank">
          <div class="social_icon social_gg"></div>
        </a>
      </li>
    </ul>
</div>



<!-- BEGIN LANGUAGE SELECTION DROPDOWN -->
<div class="language_box">
	{% set current_language = '' %}
	{% if (app.request.get('_route_params')) != null %}
	  {% if (app.request.get('_route_params')._locale == 'fr') %}
	    {% set current_language = 'fr' %}
	  {% elseif (app.request.get('_route_params')._locale == 'en') %}
	    {% set current_language = 'en' %}
	  {% else %}
	    {% set current_language = 'es' %}
	  {% endif %}
	{% endif %}
	<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" title="EN" alt="EN" class="language_selection no_style_a
	{% if current_language == 'en' %}
	  language_active
	{% endif %}
	">
	  <img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag"/>
	</a>
	<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}" title="ES" alt="ES" class="language_selection no_style_a
	{% if current_language == 'es' %}
	  language_active
	{% endif %}
	">
	  <img src="{{ asset('img/system/language_flags/es.png') }}" alt="ES" class="language_flag"/>
	</a>
	<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}" title="FR" alt="FR" class="language_selection no_style_a
	{% if current_language == 'fr' %}
	  language_active
	{% endif %}
	">
	  <img src="{{ asset('img/system/language_flags/fr.png') }}" alt="FR" class="language_flag"/>
	</a>
</div>
<!-- END LANGUAGE SELECTION DROPDOWN -->