<div class="row">
	<h1>
		<a href="{{ path('bridges_main_homepage') }}" class="float-left">
			<div class="glyphicon_header">
				<span class="glyphicon glyphicon-home"></span> 
			</div>
		</a>
        Administracion del sitio web
        <div class="float-right language_box_mobile">
        	{% set current_language = '' %}
			{% if (app.request.get('_route_params')) != null %}
			  {% if (app.request.get('_route_params')._locale == 'es') %}
			    {% set current_language = 'es' %}
			  {% else %}
			    {% set current_language = 'en' %}
			  {% endif %}
			{% endif %}
			<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" title="EN" alt="EN" class="language_selection no_style_a
			{% if current_language == 'en' %}
			  language_active
			{% endif %}
			">
			  <img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag"/>
			</a>
			<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}" title="ES" alt="ES" class="language_selection no_style_a
			{% if current_language == 'es' %}
			  language_active
			{% endif %}
			">
			  <img src="{{ asset('img/system/language_flags/es.png') }}" alt="ES" class="language_flag"/>
			</a>
        </div>
    </h1>
</div>

<div id="nav_admin" class="row">

	{# For clearer view #}
	{% set route = app.request.attributes.get( '_route' ) %}

  	<!-- Nav tabs Admin -->
  	<div class="row">
	  <ul class="nav_tabs_user list_no_style_li" role="tablist">
	    <li role="user_tabs" class="btn btn-choice-admin
	    	{% if (route == 'bridges_user_homepage')
	    		or (route == 'bridges_user_page')
	    		or (route == 'bridges_user_page_spe')
		        or (route == 'bridges_user_page_new')
		        or (route == 'bridges_user_page_edit') %}
	    		active
	    	{% endif %}
	    	">
	    	<a href="javascript:loadContentAdmin('{{ path('bridges_user_page') }}')" class="no_style_a">
		    	Paginas
	    	</a>
	    </li>
	    <li role="user_tabs" class="btn btn-choice-admin
	    	{% if (route == 'bridges_user_photos') 
	    		or (route == 'bridges_user_photos_new')
		        or (route == 'bridges_user_photos_edit') %}
	    		active
	    	{% endif %}
	    	">
	    	<a href="javascript:loadContentAdmin('{{ path('bridges_user_photos') }}')" class="no_style_a">
		    	Fotos
	    	</a>
	    </li>
	    <li role="user_tabs" class="btn btn-choice-admin
	    	{% if (route == 'bridges_user_stories') 
	    		or (route == 'bridges_user_stories_spe')
		        or (route == 'bridges_user_stories_new')
		        or (route == 'bridges_user_stories_edit') %}
	    		active
	    	{% endif %}
	    	">
	    	<a href="javascript:loadContentAdmin('{{ path('bridges_user_stories') }}')" class="no_style_a">
		    	Historias
	    	</a>
	    </li>
	    <li role="user_tabs" class="btn btn-choice-admin logout-btn-admin">
	    	<a href="{{ path('fos_user_security_logout') }}" class="no_style_a">
	    		Salir
	    	</a>
	    </li>
	  </ul>
  	</div>


</div>