{# src/MA/UserBundle/Resources/User/contentNew.html.twig #}

{% extends "BridgesUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Modificar una pagina
{% endblock %}

{% block Bridges_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">

			{% set current_language = '' %}
	        {% if (app.request.get('_route_params')) != null %}
	          {% if (app.request.get('_route_params')._locale == 'es') %}
	            {% set current_language = 'es' %}
	          {% else %}
	            {% set current_language = 'en' %}
	          {% endif %}
	        {% endif %}
			
			<div class="section" id="user">
				<div class="inner-section-admin">

				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row left">
				  		<div class="row">
				  			<a class="btn btn-perso" href="javascript:loadContentAdmin('{{ path('bridges_user_page') }}')">
				  				<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
		    					Atras
		    				</a>
				  		</div>
				  		<br/>
						<div class="row">
			    			<form method="post" {{ form_enctype(formNewPage) }}>
				        		{% if form_errors(formNewPage) %}
				                    <div class="error_message">
				                      <span class="warning_word">
				                        {{ 'user.warning.warning'|trans }}
				                      </span>
				                      <span class="warning_message">
				                        {{ form_errors(formNewPage) }}
				                      </span>
				                    </div>
				                    <br/>
				                  {% endif %}
								<div class="row80">
									<div class="form-group">
								        {{ form_label(formNewPage.name, "Nombre para la administracion", 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewPage.name) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewPage.name) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_name = {'attr': {'class': 'form-control placeholder-no-fix',
								        		'type':'text', 'placeholder':"Nombre de la pagina", 'id':'_name', 
								        		'name':'_name'}} %}
								        	{{ form_widget(formNewPage.name, opt_name) }}
								        </div>
									</div>

									<ul class="nav nav-tabs">
										{% set index_general = 1 %}
										{% for lang in 1..2 %}
											<li class="{% if index_general == 1 %} active {% endif %}">
												<a data-target="#tab_{{ index_general }}" data-toggle="tab">
													{% if lang == 1 %}
														<img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag"/>
													{% elseif lang == 2 %}
														<img src="{{ asset('img/system/language_flags/es.png') }}" alt="ES" class="language_flag"/>
													{% endif %}
												</a>
											</li>
											{% set index_general = index_general + 1 %}
										{% endfor %}
									</ul>

									<br/>

									<div class="tab-content" id="product_content">
										<div class="tab-pane fade active in" id="tab_1">
											<div class="row">
												<div class="row">
									  				<strong>
									  					Sub-Title displayed:
									  				</strong>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formNewPage.headerEng) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formNewPage.headerEng) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_headerEng = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Header', 'id':'_headerEng'}} %}
												        	{{ form_widget(formNewPage.headerEng, opt_headerEng) }}
												        </div>
													</div>
								  				</div>

												<div class="row">
									  				<strong>
									  					Content:
									  				</strong>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formNewPage.contentEng) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formNewPage.contentEng) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set contentEng = {'attr': {'class': 'redactor', 'placeholder':'Content', 'id':'_contentEng', 'name':'_contentEng'}} %}
												        	{{ form_widget(formNewPage.contentEng, contentEng) }}
												        </div>
													</div>
								  				</div>
											</div>
										</div>

										<div class="tab-pane fade" id="tab_2">
											<div class="row">
												<div class="row">
									  				<strong>
									  					Sub-Título aparente:
									  				</strong>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formNewPage.headerEsp) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formNewPage.headerEsp) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_nameEs = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Titulo aparente', 'id':'_headerEsp'}} %}
												        	{{ form_widget(formNewPage.headerEsp, opt_nameEs) }}
												        </div>
													</div>
								  				</div>

												<div class="row">
									  				<strong>
									  					Contenido:
									  				</strong>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formNewPage.contentEsp) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formNewPage.contentEsp) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set contentEsp = {'attr': {'class': 'redactor', 'placeholder':'Contenido', 'id':'_contentEsp', 'name':'_contentEsp'}} %}
												        	{{ form_widget(formNewPage.contentEsp, contentEsp) }}
												        </div>
													</div>
								  				</div>
											</div>
										</div>
									</div>

									<div class="form-group">
								        {{ form_label(formNewPage.dataBaseName, 'Nombre en la base de datos', 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewPage.dataBaseName) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewPage.dataBaseName) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_dataBaseName = {'attr': {'class': 'form-control placeholder-no-fix',
								        		'type':'text', 'placeholder':"Nombre en la base de datos (ex: Pagina_Principale)", 'id':'_dataBaseName', 
								        		'name':'_dataBaseName'}} %}
								        	{{ form_widget(formNewPage.dataBaseName, opt_dataBaseName) }}
								        </div>
									</div>

									<div>
										<br/><br/>
									</div>

									<!-- Et pour le reste du formulaire ... ;) -->
									{{ form_widget(formNewPage) }}
									<div class="center">
										<input type="submit" class="btn btn-perso" value="Guardar"/>
									</div>
								</div>
							</form>
		    			</div>
		    			<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_bridges.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div class='center'>
	        			<br/><br/><br/><br/><br/>
	        			You're not allowed on this part of the website ...
	        		</div>
	        	{% endif %}

				</div>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock Bridges_User_body %}
