{# src/Bridges/UserBundle/Resources/User/newStory.html.twig #}

{% extends "BridgesUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Nueva historia
{% endblock %}

{% block Bridges_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">

			{% set current_language = '' %}
	        {% if (app.request.get('_route_params')) != null %}
	          {% if (app.request.get('_route_params')._locale == 'es') %}
	            {% set current_language = 'es' %}
	          {% else %}
	            {% set current_language = 'en' %}
	          {% endif %}
	        {% endif %}
			
			<div class="section" id="user">
				<div class="inner-section">

				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row center">
						<div class="row92">
							<div class="row">
			    				<a class="btn btn-perso float-left" href="javascript:loadContentAdmin('{{ path('bridges_user_stories') }}')">
			    					<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
			    					Atras
			    				</a>
			    			</div>

			    			<div class="row left">
			    				<form method="post" {{ form_enctype(formNewStory) }}>
				        		{% if form_errors(formNewStory) %}
				                    <div class="error_message">
				                      <span class="warning_word">
				                        {{ 'user.warning.warning'|trans }}
				                      </span>
				                      <span class="warning_message">
				                        {{ form_errors(formNewStory) }}
				                      </span>
				                    </div>
				                    <br/>
				                  {% endif %}
								<div class="row80">
									<div class="form-group">
								        {{ form_label(formNewStory.orderList, "Orden de aparición", 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewStory.orderList) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewStory.orderList) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_orderList = {'attr': {'class': 'form-control placeholder-no-fix',
								        		'type':'text', 'placeholder':"Ex: 4 ", 'id':'_orderList', 
								        		'name':'_orderList'}} %}
								        	{{ form_widget(formNewStory.orderList, opt_orderList) }}
								        </div>
									</div>

									<ul class="nav nav-tabs">
										{% set index_general = 1 %}
										{% for lang in 1..2 %}
											<li class="{% if index_general == 1 %} active {% endif %}">
												<a data-target="#tab_{{ index_general }}" data-toggle="tab">
													{% if lang == 1 %}
														<img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag"/>
													{% elseif lang == 2 %}
														<img src="{{ asset('img/system/language_flags/es.png') }}" alt="ES" class="language_flag"/>
													{% endif %}
												</a>
											</li>
											{% set index_general = index_general + 1 %}
										{% endfor %}
									</ul>

									<br/>

									<div class="tab-content" id="product_content">
										<div class="tab-pane fade active in" id="tab_1">
											<div class="row">
												<div class="row">
									  				<strong>
									  					Título aparente:
									  				</strong>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
														{% if form_errors(formNewStory.titleEsp) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formNewStory.titleEsp) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_titleEsp = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Titulo aparente', 'id':'_titleEsp'}} %}
												        	{{ form_widget(formNewStory.titleEsp, opt_titleEsp) }}
												        </div>
													</div>
								  				</div>

												<div class="row">
									  				<strong>
									  					Contenido:
									  				</strong>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formNewStory.contentEsp) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formNewStory.contentEsp) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set contentEsp = {'attr': {'class': 'redactor', 'placeholder':'Contenido', 'id':'_contentEsp', 'name':'_contentEsp'}} %}
												        	{{ form_widget(formNewStory.contentEsp, contentEsp) }}
												        </div>
													</div>
								  				</div>
											</div>
										</div>
										
										<div class="tab-pane fade" id="tab_2">
											<div class="row">
												<div class="row" >
									  				<strong>
									  					Title displayed:
									  				</strong>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formNewStory.titleEng) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formNewStory.titleEng) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_titleEng = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'title', 'id':'_titleEng'}} %}
												        	{{ form_widget(formNewStory.titleEng, opt_titleEng) }}
												        </div>
													</div>
								  				</div>

												<div class="row" >
									  				<strong>
									  					Content:
									  				</strong>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formNewStory.contentEng) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formNewStory.contentEng) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set contentEng = {'attr': {'class': 'redactor', 'placeholder':'Content', 'id':'_contentEng', 'name':'_contentEng'}} %}
												        	{{ form_widget(formNewStory.contentEng, contentEng) }}
												        </div>
													</div>
								  				</div>
											</div>
										</div>
									</div>

									<div class="form-group">
										{{ form_label(formNewStory.file, "Imagen de la historia", 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewStory.file) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewStory.file) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_file = {'attr': {'type':'file', 'id':'file', 'name':'_file'}} %}
								        	{{ form_widget(formNewStory.file, opt_file) }}
								        </div>
									</div>

									<div class="form-group">
										{{ form_label(formNewStory.status, "Statuo", 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewStory.status) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewStory.status) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	{% set opt_status = {'attr': {'class': 'form-control placeholder-no-fix',
								        		'id':'status', 'name':'_status' }} %}
								        	{{ form_widget(formNewStory.status, opt_status) }}
								        </div>
									</div>

									<div>
										<br/><br/>
									</div>

									<!-- Et pour le reste du formulaire ... ;) -->
									{{ form_widget(formNewStory) }}
									<div class="center">
										<input type="submit" class="btn btn-perso" value="Guardar"/>
									</div>
								</div>
							</form>
			    			</div>
		    			</div>
		    			<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_bridges.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div class='center'>
	        			<br/><br/><br/><br/><br/>
	        			You're not allowed on this part of the website ...
	        		</div>
	        	{% endif %}
				
				</div>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock Bridges_User_body %}
