{# src/Bridges/UserBundle/Resources/User/photos.html.twig #}

{% extends "BridgesUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Fotos
{% endblock %}

{% block Bridges_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			
			<div class="section" id="user">
				<div class="inner-section">
				
				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row center">
				  		<div class="row">
				  			<p class="center italic">
		    					Si las fotos no aparecen correctamente, actualize la pagina.
		    				</p>
				  		</div>
				  		<div class="row left">
			    			<a href="{{ path('bridges_user_photos_new') }}" class="btn btn-perso float-left">
			    				Nueva foto
			    			</a>
			    		</div>
						<div class="row">
				    		{% if photos|length > 0 %}
								{% for category in categories %}
									<div class="row">
										<h5 class="left">
											{% if category == 'home' %}
												Home
											{% elseif category == 'aboutUs' %}
												About us
											{% elseif category == 'stories' %}
												Stories
											{% elseif category == 'work' %}
												The work
											{% elseif category == 'volunteer' %}
												Volunteer
											{% elseif category == 'donate' %}
												Donate
											{% elseif category == 'footer' %}
												Footer
											{% else %}
												(Vacio ...)
											{% endif %}
										</h5>
										<hr/>
										{% for single_photo in photos %}
											{% if single_photo.category == category %}
												<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 photo_admin_container">
													{% if single_photo.alt|length > 0 and single_photo.url|length > 0 %}
														<div class="photo_admin" style="background-image: url('{{ asset(single_photo.webPath) }}'); background-size: cover; background-position: 50%; min-height:60px; ">
														</div>
													{% else %}
														<div class="photo_admin" style="background-image: url('{{ asset('img/system/defaults/default_img.png') }}'); background-size: cover; background-position: 50%; min-height:60px; ">
														</div>
													{% endif %}
													<a href="javascript:areYouSureDeletePhoto('{{ path('bridges_user_photos_delete', {'photoId':single_photo.id}) }}')">
					                              		<button class="btn btn-delete-admin">
						                              		<span class="glyphicon black glyphicon-trash" aria-hidden="true"></span>
					                              		</button>
					                              	</a>
												</div>
											{% endif %}
										{% endfor %}

									</div>
									<div class="row center">
										<br/><br/>
									</div>
								{% endfor %}
							{% else %}
								<div class="center">
									Disculpa, ningun foto ahora ...
								</div>
							{% endif %}
				    	</div>

		    			<br/><br/><br/>
		    			<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_bridges.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div class='center'>
	        			<br/><br/><br/><br/><br/>
	        			You're not allowed on this part of the website ...
	        		</div>
	        	{% endif %}

				</div>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock Bridges_User_body %}
