{# src/Bridges/UserBundle/Resources/User/stories.html.twig #}

{% extends "BridgesUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Historias
{% endblock %}

{% block Bridges_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">

			{% set current_language = '' %}
	        {% if (app.request.get('_route_params')) != null %}
	          {% if (app.request.get('_route_params')._locale == 'es') %}
	            {% set current_language = 'es' %}
	          {% else %}
	            {% set current_language = 'en' %}
	          {% endif %}
	        {% endif %}

			<div class="section" id="user">
				<div class="inner-section">
				
				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row center">
				  		<div class="row">
				  			<p class="center italic">
		    					Si las fotos no aparecen correctamente, actualize la pagina.
		    				</p>
				  		</div>
				  		<div class="row92">
				  			<div class="row left">
				    			<a href="{{ path('bridges_user_stories_new') }}" class="btn btn-perso float-left">
				    				Nueva historia
				    			</a>
				    		</div>
			    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 left">
								<br/><br/>
								<div class="thumbnail thumbnail_story">
									<h5 class="left">
										Historias :
									</h5>
									{% if stories|length > 0 %}
										<ul class="list_no_style_li list_stories_admin">
											{% for single_story in stories %}
												<li class="story_link {% if single_story == storyAsked %}li_story_active{% endif %}" id="story_n_{{ single_story.id }}">
													<a href="javascript:displaySelectedStory('{{ path('bridges_user_stories_spe', {'storyId':single_story.id}) }}', 'story_n_{{ single_story.id }}')" class="no_style_a">
														{% if single_story.orderList|length > 0 %}
						                              		{{ single_story.orderList }}
						                              	{% else %}
						                              		-
						                              	{% endif %}.
						                              	{% if current_language %}
															{% if current_language == 'es' and single_story.titleEsp|length > 0 %}
																{{ single_story.titleEsp|truncate(20, false, '...') }}
															{% else %}
																{% if single_story.titleEng|length > 0 %}
																	{{ single_story.titleEng|truncate(20, false, '...') }}
																{% else %}
																	(vacio)
																{% endif %}
															{% endif %}
														{% else %}
															{% if single_story.titleEng|length > 0 %}
																{{ single_story.titleEng|truncate(20, false, '...') }}
															{% else %}
																(vacio)
															{% endif %}
														{% endif %}
														<span class="float-right arrow_story">
															<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt=""/>
														</span>
														<span class="float-right date_story hidden-md hidden-sm hidden-xs">
															{% if single_story.updatedAt|length > 0 %}
																{{ single_story.updatedAt|date('d M Y') }}
															{% else %}
																(Vide)
															{% endif %}
														</span>
													</a>
												</li>
											{% endfor %}
										</ul>
									{% else %}
										Ningun historia
									{% endif %}
								</div>
							</div>

							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
								<div id="storyShow_content">
									<br/>
									<div class="row">
					    				{% if stories|length > 0 %}
					    				<a class="btn btn-perso float-right"  href="{{ path('bridges_user_stories_edit', {'storyId':storyAsked.id}) }}">
					    					Modificar
					    				</a>
					    				<a class="btn btn-perso float-left logout-btn-admin"  href="javascript:areYouSureDeleteStory('{{ path('bridges_user_stories_delete', {'storyId':storyAsked.id}) }}')">
					    					Suprimir
					    				</a>
					    				{% endif %}
					    			</div>
					    			<br/>
					    			<div class="row left">
					    				
										{% if storyAsked %}
											<div class="">
												<div class="row">
													<div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
													<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
														{% if storyAsked.alt|length > 0 and storyAsked.url|length > 0 %}
															<div class="story_img_admin carousel_photo" style="background-image: url('{{ asset(storyAsked.webPath) }}'); background-size: cover; background-position: 50%; min-height:20px;">
															</div>
														{% else %}
															<div class="story_img_admin carousel_photo" style="background-image: url('{{ asset('img/system/defaults/default_img.png') }}'); background-size: cover; background-position: 50%; min-height:20px;" alt="Default" >
															</div>
														{% endif %}
													</div>
													<div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
												</div>
												<br/>
												<div class="row">
													{% if current_language %}
														{% if current_language == 'es' and storyAsked.titleEsp|length > 0 %}
															<h3>
																{{ storyAsked.titleEsp }} 
															</h3>
														{% else %}
															{% if storyAsked.titleEng|length > 0 %}
																<h3>
																	{{ storyAsked.titleEng|raw }}
																</h3>
															{% endif %}
														{% endif %}
													{% else %}
														{% if storyAsked.titleEng|length > 0 %}
															<h3>
																{{ storyAsked.titleEng|raw }}
															</h3>
														{% endif %}
													{% endif %}
													<div class="center date_story_lg italic">
														{% if storyAsked.createdAt|length > 0 %}
															creada el {{ storyAsked.createdAt|date('d M Y') }} a la(s) {{ storyAsked.createdAt|date('H:i') }}
														{% else %}
															(fecha vacia)
														{% endif %}
														<br/>
														{% if storyAsked.updatedAt|length > 0 %}
															ultima modificacion el {{ storyAsked.updatedAt|date('d M Y') }} a la(s) {{ storyAsked.updatedAt|date('H:i') }}
														{% else %}
															(fecha vacia)
														{% endif %}
													</div>
													<br/>
													<div class="center">
														<strong>
															Statuo :
														</strong>
														{% if storyAsked.status %}
						                              		{% if storyAsked.status == "active" %}
						                              			Activa (visible sobre el sitio)
						                              		{% elseif storyAsked.status == "inactive" %}
						                              			Inactiva (invisible sobre el sitio)
						                              		{% else %}
						                              			Error
						                              			<span class="italic">
						                              				Selecciona una seccion entre las disponibles por favor
							                              		</span>
						                              		{% endif %}
						                              	{% else %}
						                              		Erreur
						                              		<span class="italic">
																Selecciona una seccion entre las disponibles por favor
						                              		</span>
						                              	{% endif %}
													</div>
													<br/>
													<div class="center">
														<strong>
															Orden :
														</strong>
														{% if storyAsked.orderList %}
															{{ storyAsked.orderList }}
						                              	{% else %}
						                              		-
						                              	{% endif %}
													</div>
												</div>

												<br/>
												
												<div class="row80">
													{% if current_language %}
														{% if current_language == 'es' and storyAsked.contentEsp|length > 0 %}
															{{ storyAsked.contentEsp }} 
														{% else %}
															{% if storyAsked.contentEng|length > 0 %}
																{{ storyAsked.contentEng|raw }}
															{% else %}
																(historia vacia)
															{% endif %}
														{% endif %}
													{% else %}
														{% if storyAsked.contentEng|length > 0 %}
															{{ storyAsked.contentEng|raw }}
														{% else %}
															(historia vacia)
														{% endif %}
													{% endif %}
												</div>

												<br/><br/>
											</div>
										{% endif %}
					    			</div>
								</div>
							</div>
		    			</div>


				  		<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_bridges.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div class='center'>
	        			<br/><br/><br/><br/><br/>
	        			You're not allowed on this part of the website ...
	        		</div>
	        	{% endif %}

				</div>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock Bridges_User_body %}
